{% extends 'layout.html' %} {% block content %} {% include 'sections/header.html' %}
<main>
  {% include 'sections/profession.html' %} {% include 'sections/frontend.html' %} {% include
  'sections/result.html' %} {% include 'sections/study.html' %} {% include 'sections/modules.html'
  %} {% include 'sections/how-we-teach.html' %} {% include 'sections/formula.html' %} {% include
  'sections/schedule.html' %} {% include 'sections/projects.html' %} {% include
  'sections/free-lesson.html' %} {% include 'sections/teachers.html' %} {% include
  'sections/lesson.html' %} {% include 'sections/advantages.html' %} {% include
  'sections/awards.html' %} {% include 'sections/help.html' %}
</main>
{% include 'sections/footer.html' %} {% endblock %}
